tr td{
	padding: 0;
	vertical-align: top;
}
p{
	margin: 0;
}
.table-container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;

	color: black;
	font-size: 15px;
	line-height: 1.5;
	font-weight: 300;
	font-family: "Arial";

}
.table-wrapper{
	width: 40%;
	border: 2px solid blue;
}
.field-name{
	font-weight: 700;
	width: 40%;
	vertical-align: top;
}
.table-header{
	font-size: 20px;
	background-color: #dadada;
	font-weight: 700;
	text-align: center;
}